<!DOCTYPE html>
<html>
<head>
    <title>Rotator</title>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="user-scalable=no,
              initial-scale=1,
              maximum-scale=1,
              minimum-scale=1,
              width=device-width,
              height=device-height,
              target-densitydpi=device-dpi" />
</head>
<body data-ng-app="app" data-ng-controller="mainController as vm">
    <div>
        <a href="../../../../index.html">Back</a>

        <div>
            <div>
                <article-author author-full-name="'Quinntyne Brown'"></article-author>
            </div>
            <div>
                <blog-list></blog-list>
            </div>
            <div>
                <blog-list-item></blog-list-item>
            </div>
            <div>
                <blog-header 
                             article-title="'Showcase\'s Exciting 2016/2017 Lineup'" 
                             article-header-href="'http://www.showcase.ca/blogs/7289/showcases-exciting-new-lineup-for-20162017'"
                             article-published-date="'WEDNESDAY, JUNE 08, 2016 9:00 AM'">
                </blog-header>
            </div>
        </div>
    </div>

    <script src="../../../../lib/fastclick.js"></script>
    <script src="../../../../lib/moment.js"></script>
    <script src="../../../../lib/rx.all.compat.js"></script>
    <script src="../../../../lib/jquery.js"></script>
    <script src="../../../../lib/angular.js"></script>
    <script src="../../../../lib/angular-sanitize.js"></script>
    <script src="../../../../lib/angular-route.js"></script>
    <script src="../../../../lib/angular-touch.js"></script>
    <script src="../../../../dist/components.js"></script>

    <script type="text/javascript">
        var app = angular.module("app", [
            "components"
        ]).controller("mainController", [function () {
            var self = this;

            self.blog = {}

            return self;
        }]);
    </script>
</body>
</html>
