<!DOCTYPE html>
<html>
<head>
    <title>Rotator</title>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="user-scalable=no,
              initial-scale=1,
              maximum-scale=1,
              minimum-scale=1,
              width=device-width,
              height=device-height,
              target-densitydpi=device-dpi" />
    <style>
        #trigger {
            display:block;
            position:relative;
            height:50px;
            width:100px;
            background-color:#ccc;
        }

        .popover {
            display:block;
            position:relative;
            height:50px;
            width:100px;
            background-color:#ccc;
        }
    </style>
</head>
<body data-ng-app="app" data-ng-controller="mainController as vm" style="width:100%;">
    <div>
        <a href="../../../../index.html">Back</a>
    </div>

    <div id="trigger">
        <h1 data-ng-click="vm.pop()">Pop</h1>
    </div>

    <script src="../../../../lib/fastclick.js"></script>
    <script src="../../../../lib/rx.all.compat.js"></script>
    <script src="../../../../lib/jquery.js"></script>
    <script src="../../../../lib/angular.js"></script>
    <script src="../../../../lib/angular-sanitize.js"></script>
    <script src="../../../../lib/angular-route.js"></script>
    <script src="../../../../lib/angular-touch.js"></script>
    <script src="../../../../dist/components.js"></script>

    <script type="text/javascript">
        
        var app = angular.module("app", [
            "ngTouch",
            "components"
        ]).controller("mainController", ["$scope", "popoverActionCreator", function ($scope, popoverActionCreator) {
            var self = this;
            
            self.pop = function () {
                var guid = popoverActionCreator.open({
                    templateUrl: "template.html",
                    triggerAugmentedJQuery: angular.element(document.getElementById("trigger")),
                    scope: $scope
                });
                setTimeout(function () {
                    popoverActionCreator.close({ guid: guid });
                }, 1000);
            }

            return self;
        }]);

        app.config(["popoverConfigProvider", function (popoverConfigProvider) {
            popoverConfigProvider.distance = 30;
            popoverConfigProvider.directionPriorityList = ["right"];
        }]);
    </script>
</body>
</html>
