<div class="authorList">
    <div class="authorList-header">
        <h1>Authors</h1>
    </div>
    
    <div data-ng-repeat="entity in vm.entities" class="authorList-item">
        <div class="authorList-name">
            {{ entity.fullName }}
        </div>
        <div class="authorList-actions">
            <span data-ng-click="vm.edit({ entity: this.entity })">edit</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span data-ng-click="vm.remove({ entity: this.entity })">remove</span>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
