<div class="authorEditor">

    <h1  data-ng-if="!vm.entity.id">Create Author <span data-ng-if="vm.entity.firstName.length > 0 || vm.entity.lastName.length > 0">: {{ vm.entity.firstname }} {{ vm.entity.lastname }}</span></h1>

    <h1 data-ng-if="vm.entity.id">Edit Author: {{ vm.entity.firstName }} {{ vm.entity.lastName }}</h1>

    <tabs tabs-name="author-editor">

        <tab-title>General</tab-title>

        <tab-content>
            <div>
                <input class="inputField" type="text" placeholder="Author First Name" data-ng-model="vm.entity.firstName" />
            </div>
            <div>
                <input class="inputField" type="text" placeholder="Author Last Name" data-ng-model="vm.entity.lastName" />
            </div>
        </tab-content>

    </tabs>

    <div>
        <button on-click="vm.addOrUpdate({ data: vm.entity })" caption="Save"></button>

        <button on-click="vm.create()" caption="Create"></button>
    </div>
</div>
