<!DOCTYPE html>
<html>
<head>
    <title>Demo</title>
	<meta charset="utf-8" />
    <meta name="viewport"
          content="user-scalable=no,
              initial-scale=1,
              maximum-scale=1,
              minimum-scale=1,
              width=device-width,
              height=device-height,
              target-densitydpi=device-dpi" />
</head>
<body data-ng-app="app" data-ng-controller="mainController as vm">
    <div>
        <a href="../../../../index.html">Back</a>
    </div>

    <carousel-action-panel 
                            headline="vm.headline" 
                            image-url="vm.imageUrl" 
                            html-body="vm.htmlBody" 
                            items="vm.items"
                            on-click="vm.onClick()"
                            action-button-caption="vm.actionButtonCaption" >
    </carousel-action-panel>

    <script src="../../../../lib/fastclick.js"></script>
    <script src="../../../../lib/rx.all.compat.js"></script>
    <script src="../../../../lib/jquery.js"></script>
    <script src="../../../../lib/angular.js"></script>
    <script src="../../../../lib/angular-sanitize.js"></script>
    <script src="../../../../lib/angular-touch.js"></script>
    <script src="../../../../lib/angular-route.js"></script>  
    <script src="../../../../dist/angular-rx-ui.js"></script>
    <script type="text/javascript">

        var module = angular.module("app", [
            "components"
        ])
        .controller("mainController", [function mainController() {
            var self = this;
            self.imageUrl = "shoe-1.jpg";
            self.headline = "Penny";
            self.htmlBody = "<h1>Dope!</h1>";
            self.actionButtonCaption = "Action Button Caption";
            self.onClick = function () {
                alert("works out here?");
            };
            self.items = [
                { "url": "shoe-1.jpg" },
                { "url": "shoe-2.jpg" },
                { "url": "shoe-3.jpg" }
            ];

            return self;
        }]);

    </script>
</body>
</html>
