<div class="carousel-action-panel">

    <div class="carousel-action-panel-rotator">
        <rotator id="featured"
                 items="vm.items"
                 rotator-for-name="item"
                 next-button-image-url="'rotator_button_next.png'"
                 previous-button-image-url="'rotator_button_prev.png'"
                 width="'500'"
                 height="'500'">
            <div>
                <img data-ng-src="{{ item.url }}" />
            </div>
        </rotator>
    </div>

    <div class="carousel-action-panel-description">
        <h2>{{vm.headline}}</h2>
        <div data-ng-bind-html="vm.htmlBody">

        </div>
        <bold-button on-click="vm.onClick()" caption="{{vm.actionButtonCaption}}"></bold-button>
    </div>

</div>
