/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container {
    float:left;
    /* entire container, keeps perspective */
    perspective: 1000;
    position:relative; 
    
    /* back, initially hidden pane */
    .back {
        transform: rotateY(180deg);
        }
    
    /* flip speed goes here */
    .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;
        }

    /* front pane, placed above back */
    .front {
	    z-index: 2;
	    /* for firefox 31 */
	    transform: rotateY(0deg);
        }    

    /* hide back of pane during swap */
    .front, .back {
	    backface-visibility: hidden;
	    position: absolute;
	    top: 0;
	    left: 0;
        }    
    }